<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <meta charset="utf-8">
  <title>Custom Directives</title>
</head>
<body>
  <div ng-app='playgroundModule'>
    <div ng-controller="SomeController">
      <!-- piping the parent visible variable into the directive context -->
      <p lp-form visible="visible" info="customer"></p>
      <p lp-form info="customer2"></p>
      <hr/>
      <input type="checkbox"  ng-model="visible"/>
      <input ng-model="appId">
      {{appId}}
      <ul ng-repeat="cust in customers">
        <li> Name: {{ cust.name }} ---- Address: {{ cust.address}}  --- {{ cust.visible }} </li>
      </ul>
      <div lp-timer format="M/d/yy h:mm:ss a"></div>
    </div>
  </div>
  <script src="main.js"></script>
  <script src="lp-directives.js"></script>
</body>
</html>
