body {
   margin:0;
   padding:0;
   height:100%;
}

 .car-item , .wrapper form{
    border: 1px solid #DDD;
    width: 70%;
    padding: 5px;
    margin-bottom: 5px;
 }

 .wrapper  form {
    padding: 10px;
 }

 .cars-list {
   height: 400px;
   overflow: auto;
 }

 .car-item .img-container {
   max-width: 150px;
   max-height: 150px;
 }

#map {
  height: 400px;
  bottom: 0;
}

.map-wrapper {
  margin: 20px;
}

.wrapper {
    min-height: 100%;
    position:relative;
    margin: 0 auto;
    width: 1000px;
}

.validationMessage { color: Red; }
